<!DOCTYPE HTML>
<html>
<head>
    <title>Dimension by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ siteUrl() }}/assets/css/main.css" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ siteUrl() }}/assets/css/ie9.css" />
    <![endif]-->
    <noscript><link rel="stylesheet" href="{{ siteUrl() }}/assets/css/noscript.css" /></noscript>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Smart Stats</h1>
                <p>A fully automatic server manager that reports the server status <br> every 30 minutes for free account through email. Plans available for less time and SMS notification too.</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="{{ path_for('auth.login') }}">Login</a></li>
                <li><a href="{{ path_for('auth.register') }}">Register</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <article id="intro">
            <h2 class="major">Intro</h2>
            <span class="image main"><img src="{{ siteUrl() }}/images/screenshot_1.png" alt="" /></span>
            <p>A simple but fast and promising server status reporter that was made with priority and speed in mind. It has no bloatware and simply easy to use it out-of-box. It checks your server status every 45 minutes and sends email to you if your server is offline. And, if you pay for an account, you get even faster checks and <b>SMS</b> to your mobile number so that you are always notified</p>
            <p>With a premium account, you get SMS and email notification with premium support (related only to this service) and an 100% money back guarantee with no questions asked. But we are sure that you will never turn your back once you experience our best in class features that no one else provides</p>
            <p>Register for a lifetime free account or just get yourself a premium plan to experience all the awesomeastical features we have</p>
            <ul class="actions">
                <li><a href="{{ path_for('auth.register') }}" class="button special">Register for free</a></li>
                <li><a href="#pricing" class="button">Pricing</a></li>
            </ul>
        </article>

        <!-- Work -->
        <article id="pricing">
            <h2 class="major">Pricing</h2>
            <span class="image main"><img src="{{ siteUrl() }}/images/pic02.jpg" alt="" /></span>
            <p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Feature</th>
                            <th>Free</th>
                            <th>Silver</th>
                            <th>Gold</th>
                            <th>Diamond</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Notification</th>
                            <td>E-Mail</td>
                            <td>E-Mail and push notification</td>
                            <td>SMS, E-Mail</td>
                            <td>SMS, E-Mail and push notification</td>
                        </tr>
                        <tr>
                            <th>Checking time</th>
                            <td>Every 60 minutes</td>
                            <td>Every 45 minutes</td>
                            <td>Every 30 minutes</td>
                            <td>Every 15 minutes</td>
                        </tr>
                        <tr>
                            <th>Support</th>
                            <td>Email, delayed</td>
                            <td>Email, priority</td>
                            <td>Email and chat</td>
                            <td>Email and chat with Desktop sharing</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Team Lightning. Design and creation by <a href="https://twitter.com/@xXAlphaManXx">xXAlphaManXx</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="{{ siteUrl() }}/assets/js/jquery.min.js"></script>
<script src="{{ siteUrl() }}/assets/js/skel.min.js"></script>
<script src="{{ siteUrl() }}/assets/js/util.js"></script>
<script src="{{ siteUrl() }}/assets/js/main.js"></script>

</body>
</html>
