<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Stats | The best server status reporter with EMail, SMS and Push notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: #000000 !important;
            color: #eeeeee !important;
        }

        .blue {
            background-color: #10A98D !important;
        }

        .black {
            background-color: #393e46 !important;
        }

        main {
            flex: 1 0 auto;
        }

        .body-content {
            margin-top: 45px;
        }

        .highlight {
            color: #1de9c3;
        }

        /*h1, h2, h3, h4, h5, h6, p, span {*/
            /*font-weight: 200;*/

        /*}*/

        /*h2 {*/
            /*font-size: 3.56rem;*/
        /*}*/

        /*p {*/
            /*font-weight: 200;*/
            /*font-size: 1.4rem;*/
        /*}*/

        i {
            color: #1de9c3;
        }

        hr {
            border-color: #1de9c3;
        }

        .menu {
            color: #ffffff !important;
        }
    </style>
</head>
<body>
<div class="navbar-fixed">
    <nav class="blue">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{{ path_for('index') }}" class="brand-logo">Smart Stats</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="icon-menu menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if loggedIn() %}
                        <li><a href="{{ path_for('user.home') }}">Home</a></li>
                    {% else %}
                        <li><a href="{{ path_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ path_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    {% if loggedIn() %}
                        <li><a href="{{ path_for('user.home') }}">Home</a></li>
                    {% else %}
                        <li><a href="{{ path_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ path_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<main>
    <div class="container">