<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <li class="header">SMART STATS</li>
    <li class="{{ c1 }}"><a href="{{ base_url() }}/user/home"><i class="fa fa-dashboard"></i>
            <span>Dashboard</span></a></li>
    <li class="{{ c2 }}"><a href="{{ base_url() }}/user/show"><i class="fa fa-server"></i>
            <span>Server
        status</span></a></li>
    <li class="{{ c3 }}"><a href="{{ base_url() }}/user/create"><i class="fa fa-plus"></i> <span>Add
                server</span></a></li>
    <li class="{{ c4 }}"><a href="{{ base_url() }}/user/contact"><i class="fa fa-envelope-o"></i>
            <span>Contact us</span></a></li>
</ul>